<?xml version="1.0" encoding="utf-8"?>
<odoo>

        <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
        <menuitem id="klasikmart_menu_root" 
                name="Klasik Mart" 
                sequence="10"/>

        <!-- This Menu Item Must have a parent -->
        <menuitem id="klasikmart_barang_menu_categ" 
                name="Vinyl Records" 
                parent="klasikmart_menu_root" 
                sequence="10"/>


        <!-- This Menu Item Must have a parent -->
        <menuitem id="klasikmart_transaksi_menu_categ" 
                name="Transaksi" 
                parent="klasikmart_menu_root" 
                sequence="42"/>        
</odoo>
